In [34]:
aptDict = {'ABQ':'NM', 'ANC':'AK', 'ATL':'GA','AUS':'TX','BDL':'CT', 'BHM':'AL', 'BNA':'TN', 'BOS':'MA', 'BUF':'NY','BUR':'CA',
          "BWI":"MD","CLE":"OH","CLT":'NC', 'CVG':'KY', 'DAL':'TX', 'DAY':'OH', 'DCA':'VA', 'DEN':'CO', 'DFW':'TX', 'DTW':'MI',
          'EWR':'NJ', 'FLL':'FL', 'HNL':'HI', 'HOU':'TX', 'HPN':'NY', 'IAD':'VA', 'IAH':'TX', 'IND':'IN', 'ISP':'NY', 'JAX':'FL',
          'JFK':'NY', 'LAS':'NV', 'LAX':'CA', 'LGA':'NY', 'LGB':'CA', 'MCI':'MO', 'MCO':'FL', 'MDW':'IL', 'MEM':'TN', 'MHT':'NH',
          'MIA':'FL', 'MKE':'WI', 'MSP':'MN', 'MSY': 'LA', 'OAK':'CA', 'OGG': 'HI', 'OMA':'NE', 'ONT':'CA', 'ORD':'IL', 'OXR':'CA',
          'PBI':'FL', 'PDX':'OR', 'PHL':'PA', 'PHX':'AZ', 'PIT':'PA', 'PSP':'CA', 'PVD':'RI', 'RDU':'NC', 'RFD':'IL', 'RSW':'FL',
          'SAN':'CA', 'SAT':'TX', 'SDF':'KY', 'SEA':'WA', 'SFO':'CA', 'SJC':'CA', 'SJU':'PR', 'SLC':'UT', 'SMF':'CA', 'SNA':'CA',
          'STL':'MO', 'SWF':'NY', 'TPA':'FL', 'TUS':'AZ'}
print(aptDict)

{'ABQ': 'NM', 'ANC': 'AK', 'ATL': 'GA', 'AUS': 'TX', 'BDL': 'CT', 'BHM': 'AL', 'BNA': 'TN', 'BOS': 'MA', 'BUF': 'NY', 'BUR': 'CA', 'BWI': 'MD', 'CLE': 'OH', 'CLT': 'NC', 'CVG': 'KY', 'DAL': 'TX', 'DAY': 'OH', 'DCA': 'VA', 'DEN': 'CO', 'DFW': 'TX', 'DTW': 'MI', 'EWR': 'NJ', 'FLL': 'FL', 'HNL': 'HI', 'HOU': 'TX', 'HPN': 'NY', 'IAD': 'VA', 'IAH': 'TX', 'IND': 'IN', 'ISP': 'NY', 'JAX': 'FL', 'JFK': 'NY', 'LAS': 'NV', 'LAX': 'CA', 'LGA': 'NY', 'LGB': 'CA', 'MCI': 'MO', 'MCO': 'FL', 'MDW': 'IL', 'MEM': 'TN', 'MHT': 'NH', 'MIA': 'FL', 'MKE': 'WI', 'MSP': 'MN', 'MSY': 'LA', 'OAK': 'CA', 'OGG': 'HI', 'OMA': 'NE', 'ONT': 'CA', 'ORD': 'IL', 'OXR': 'CA', 'PBI': 'FL', 'PDX': 'OR', 'PHL': 'PA', 'PHX': 'AZ', 'PIT': 'PA', 'PSP': 'CA', 'PVD': 'RI', 'RDU': 'NC', 'RFD': 'IL', 'RSW': 'FL', 'SAN': 'CA', 'SAT': 'TX', 'SDF': 'KY', 'SEA': 'WA', 'SFO': 'CA', 'SJC': 'CA', 'SJU': 'PR', 'SLC': 'UT', 'SMF': 'CA', 'SNA': 'CA', 'STL': 'MO', 'SWF': 'NY', 'TPA': 'FL', 'TUS': 'AZ'}

In [71]:
import pandas as pd
df = pd.read_csv('apm_report.csv')
df = df.drop([15646, 15647, 15648, 15649, 15650, 15651, 15652, 15653, 15654, 15655])
df['State']=""
for index, row in df.iterrows(): 
    df.at[index, 'State'] = aptDict[row['Facility']]

In [75]:
rslt_df = df.loc[df['Facility'] == 'ABQ']
print(rslt_df)

    Facility    Date  Actual Departures  Actual Arrivals  \
0        ABQ  Jun-03             3066.0           3074.0
1        ABQ  Jul-03             3153.0           3165.0
2        ABQ  Aug-03             3125.0           3138.0
3        ABQ  Sep-03             3056.0           3056.0
4        ABQ  Oct-03             3169.0           3170.0
..       ...     ...                ...              ...
210      ABQ  Dec-20             1005.0           1009.0
211      ABQ  Jan-21              964.0            967.0
212      ABQ  Feb-21              808.0            813.0
213      ABQ  Mar-21             1219.0           1228.0
214      ABQ  Apr-21             1284.0           1288.0

     Departure Cancellations  Arrival Cancellations  Departure Diversions  \
0                       15.0                   14.0                   5.0
1                       15.0                   14.0                  10.0
2                       26.0                   22.0                  11.0
3                       24.0                   27.0                   4.0
4                       20.0                   22.0                   5.0
..                       ...                    ...                   ...
210                     33.0                   29.0                   1.0
211                      7.0                    6.0                   2.0
212                     52.0                   51.0                   4.0
213                     25.0                   20.0                   4.0
214                      4.0                    2.0                   3.0

     Arrival Diversions  On-Time Arrivals  % On-Time Gate Departures  \
0                   1.0            2611.0                      87.70
1                   0.0            2659.0                      86.71
2                   2.0            2641.0                      86.85
3                   1.0            2773.0                      92.15
4                   0.0            2834.0                      90.56
..                  ...               ...                        ...
210                 1.0             891.0                      91.44
211                 0.0             899.0                      95.75
212                 0.0             712.0                      90.22
213                 1.0            1096.0                      89.75
214                 1.0            1134.0                      90.26

     % On-Time Gate Arrivals  Average Gate Departure Delay  \
0                      84.94                          6.66
1                      84.01                          7.43
2                      84.16                          6.96
3                      90.74                          4.22
4                      89.40                          5.24
..                       ...                           ...
210                    88.31                          5.77
211                    92.97                          3.35
212                    87.58                          8.59
213                    89.25                          6.53
214                    88.04                          7.95

     Average Gate Arrival Delay  Average Block Delay  Average Taxi Out Time  \
0                          7.85                 2.67                   9.89
1                          9.52                 2.22                  10.35
2                          8.61                 2.29                  10.04
3                          4.89                 2.11                   9.53
4                          5.89                 1.95                   9.60
..                          ...                  ...                    ...
210                        8.04                 1.72                  14.11
211                        2.96                 1.49                  14.26
212                        8.10                 1.83                  15.86
213                        6.10                 1.93                  14.11
214                        6.90                 2.13                  14.00

     Average Taxi In Time  Delayed Arrivals  \
0                    4.41             463.0
1                    4.52             506.0
2                    4.46             497.0
3                    4.43             283.0
4                    4.51             336.0
..                    ...               ...
210                  4.86             118.0
211                  5.09              68.0
212                  5.07             101.0
213                  5.54             132.0
214                  5.56             154.0

     Average Delay Per Delayed Arrival State
0                                42.00    NM
1                                51.04    NM
2                                46.59    NM
3                                40.62    NM
4                                43.72    NM
..                                 ...   ...
210                              61.36    NM
211                              34.19    NM
212                              58.49    NM
213                              46.74    NM
214                              50.83    NM

[215 rows x 19 columns]

In [111]:
strindf = pd.read_csv('C:\\Users\\kevin\\ORSAQAirplanes\\statestringency.csv')

In [112]:
stringencyMonthly = strindf[['State','01Jan2020','01Feb2020','01Mar2020','01Apr2020','01May2020','01Jun2020','01Jul2020','01Aug2020',
                         '01Sep2020','01Oct2020','01Nov2020','01Dec2020','01Jan2021','01Feb2021','01Mar2021',
                             '01Apr2021']].rename(columns={"01Jan2020":"Jan-20", '01Feb2020':"Feb-20",'01Mar2020':"Mar-20",'01Apr2020':"Apr-20",
                                  '01May2020':"May-20",'01Jun2020':"Jun-20",'01Jul2020':"Jul-20",'01Aug2020':"Aug-20",
                                  '01Sep2020':"Sep-20",'01Oct2020':"Oct-20",'01Nov2020':"Nov-20",'01Dec2020':"Dec-20",
                                  '01Jan2021':"Jan-21",'01Feb2021':"Feb-21",'01Mar2021':'Mar-21','01Apr2021':'Apr-21' })

In [115]:
strinTidy = pd.melt(stringencyMonthly, id_vars=['State'], value_vars=["Jan-20", "Feb-20","Mar-20","Apr-20","May-20","Jun-20",
                                                                      "Jul-20","Aug-20","Sep-20","Oct-20","Nov-20","Dec-20",
                                                                      "Jan-21","Feb-21",'Mar-21','Apr-21']).rename(columns={"variable":"month",
                                                                                                                           "value":"stringency"})

In [116]:
strinTidy

    State   month  stringency
0      AK  Jan-20        0.00
1      AL  Jan-20        0.00
2      AR  Jan-20        0.00
3      AZ  Jan-20        0.00
4      CA  Jan-20        0.00
..    ...     ...         ...
811    VT  Apr-21       65.74
812    WA  Apr-21       57.41
813    WI  Apr-21       56.02
814    WV  Apr-21       50.93
815    WY  Apr-21       55.56

[816 rows x 3 columns]

In [118]:
strinTidy.to_csv("TidyStringency.csv", index=False)